<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
</head>
<form action="/contract/write2" method="post">
    <div align="left">
        <h2>아르바이트 계약서</h2>
    </div>
    <hr>
    <div align="left">
        <table>
            <tr>
                <td><h3>사용자 (갑)</h3></td>
            </tr>
            <tr>
                <td><strong>성 명</strong></td>
                <td><input type="text" name="employerName" placeholder="ex) 홍길동"></td>
                <td><strong>사업 종류</strong></td>
                <td><input type="text" name="businessType" placeholder="ex) 잡화"></td>
            </tr>
            <tr>
                <td><strong>사업체명</strong></td>
                <td><input type="text" name="companyName" placeholder="ex)롯데백화점"></td>
                <td><strong>소재지</strong></td>
                <td><input type="text" name="companyAddress" placeholder="ex) 서울시 송파구"></td>
            </tr>
        </table>
    </div>
    <hr>
    <div align="left">
        <table>
            <tr>
                <td><h3>근로자 (을)</h3></td>
            </tr>
            <tr>
                <td><strong>성 명</strong></td>
                <td><input type="text" name="employeeName" placeholder="ex) 한서봉"></td>
                <td><strong>생년 월일</strong></td>
                <td><input type="text" name="employeeBirth" placeholder="ex) 1993-10-01"></td>
            </tr>
            <tr>
                <td><strong>주 소</strong></td>
                <td><input type="text" name="employeeAddress" placeholder="ex) 경기도 남양주시"></td>
                <td><strong>주민등록번호</strong></td>
                <td><input type="text"  name="personalNumber" placeholder="ex) 980917-1010000"></td>
            </tr>
        </table>
    </div>
    <hr>
    <div align="left">
        <table>
            <h3>내 용</h3>
            <tr height="30">
                <td><strong>취업(근로) 조건</strong></td>
            </tr>
            <tr height="30">
                <td>
                    &emsp;(1)임금 :
                    일급 <input type="radio" name="payKind" value="일급"/>
                    월급 <input type="radio" name="payKind" value="월급"/>
                    연봉 <input type="radio" name="payKind" value="연봉"/>
                    , 페이 : <input type="number"  name="pay">

                </td>
            </tr>
            <tr height="30">
                <td>
                    &emsp;(2)근로 조건 :
                    주 <input type="number"  name="day">일 /
                    일 <input type="number"  name="hour"> 시간
                </td>
            </tr>
            <tr height="30">
                <td>
                    &emsp;(2)근로 장소 :
                    <input type="text"  name="location">
                </td>
            </tr>
            <tr height="30">
                <td><strong>계약 기간</strong></td>
            </tr>
            <tr height="30">
                <td>
                    &emsp;기 간 : <input type="datetime-local"  name="contractDay">&nbsp;~&nbsp;<input type="datetime-local"  name="expiredDay">
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <br>
    <input type="submit" value="보내기">
    <input type="button" value="취소" onclick="window.location.href='http://210.123.254.206:8181/contract/list'">
    <input type="hidden" name="id" th:value="*{val}" />
</form>
</body>
</html>